<!-- Hero content: will be in the middle -->

<div class="hero-body">
  <div id="motto" class="container has-text-centered ">
    <h1 class="title">
      LIVE THERE
    </h1>
    <h2 class="subtitle">
      Book homes from local hosts in 191+ countries and experience a place like you live there.
    </h2>
    <h3 id="play_button">
      <i class="fa fa-play-circle is-fullwidth" aria-hidden="true"></i>
    </h3>
  </div>

    <video autoplay id="movie1" loop="loop" preload="auto" class="photo">
       <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.mp4" type='video/mp4'>
         <source src="https://a0.muscache.com/airbnb/static/P1-background-vid-compressed.webm" type='video/webm'>
    </video>

<!-- TEXT IN THE HERO  -->
</div>

<!-- SEARCH BOX BOTTOM OF HERO -->

<div class="hero-foot is-fullwidth is-12">
  <nav class="tabs is-boxed is-fullwidth is-12">
    <div class="container is-centered is-12">

      <p class="control is-grouped column is-5">
      <i id="search_icon" class="fa fa-search"></i>
      <%= form_for Listing.new, method: :get, url: search_path do |f| %>
      <%= text_field_tag :term, params[:term], class: "is-fullwidth", placeholder:"Where to?" %>
      <%= f.submit 'search', class: 'button is-primary' %>
      <% end %>      
      <!-- <input class="input is-2" type="text" placeholder="Where to?"> -->
      <div id="datebox" class="input is-2" type="text" placeholder="When ?">
        <div id="checkdate">Checkin</div> 
          <span>
            <svg id="arrow_when" viewBox="0 0 1000 1000" data-reactid=".3.0.0.0.1.0.0.0.1.0">
              <path d="M694.4 242.4l249.1 249.1c11 11 11 21 0 32L694.4 772.7c-5 5-10 7-16 7s-11-2-16-7c-11-11-11-21 0-32l210.1-210.1H67.1c-13 0-23-10-23-23s10-23 23-23h805.4L662.4 274.5c-21-21.1 11-53.1 32-32.1z" data-reactid=".3.0.0.0.1.0.0.0.1.0.0">
              </path>
            </svg>
          </span> 
        <span>Checkout</span>
      </div>

      <input id="guest" class="input is-1" type="text" placeholder="1 Guest">
      <input class="input is-1" type="submit">
      </p>
    </div>
  </nav>
</div>
</section>

<a class="button is-fullwidth" href="/listings" style="background-color: green">See Listings</a>

<% render '/listings/search' %>

<script>
jQuery( document ).ready(function($) {
  vid = document.getElementById("movie1");
    $('#play_button').click(function() {
        vid.paused ? vid.play() : vid.pause();
    });
});
</script>





