<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations! Your booking has been confirmed at <%= @listing.title %> ins confirmed.</h1>
    <p>
      You can see details of the listing of your reservation here: <%= @listing.title %>

    </p>
  </body>
</html>